body {
  margin: 0;
  font-family: "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333333;
  background: #f6f9fc;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.no-padding{
  padding: 7px 15px !important;
  margin: 0 5px !important;
  font-size: 1.2em;
}

.btn-form {
  width: 10rem !important;
  margin-left: 1rem;
  margin-right: 0;
}